@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #064e3b;
  --accent: #064e3b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: "Google Sans", sans-serif;
  --font-mono: var(--font-jetbrains-mono), monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #022c22;
    --foreground: #a7f3d0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Google Sans", sans-serif;
}
